/* Applying Meyer Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    
}

.dashboard {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

img {
    width:50px;
    border-radius: 50%;
}

.sidebar {
    height: 100%;
    grid-row: 1 / 3;
    background-color: #4287f5;
    color: white;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: repeat(25, auto) ;
    padding: 2rem;
    align-items: center;
    gap: 10px;
}

.sidebar h1 {
    font-size: 3rem;
}

.sidebar p {
    font-size: 1.5rem;
}

.sidebar i {
    font-size: 1.5rem;
}

#dashboard-logo {
    font-size: 2.5rem;
}

.header {
    grid-column: 2 / 4;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.75rem;
    background-color: white;
    padding-left: 2rem;
}

.header input {
    justify-self: stretch;
    border-radius: 1.5rem;
    background-color: #e0e7ff;
    height: 1.5rem;
}

.search-container {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-weight: 900;
    font-size: 1.5rem;
}

.welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1.5rem;
    align-items: center;
    padding: 1.5rem;
}

#welcome-img {
    grid-row: 1 / 3;
    width: 75px;
}

#greeting {
    font-weight: 900;
}

#name {
    font-weight: 900;
    font-size: 2rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.buttons button {
    align-items: center;
    background-color: #4287f5;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .buttons button:hover { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .buttons button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .buttons button:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }

#main-section {
    display: grid;
    grid-template-columns: 6fr 2fr;
    background-color: #dbeafe;
    padding: 3rem;
    column-gap: 2rem;
    row-gap: 1rem;
}

.section-header {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#projects {
    grid-row: 1 / 4;
}

#card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.card {
    border: solid white 1px;
    border-left: solid orange 3px;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.project-title {
    font-weight: 900;
    font-size: 1.3rem;
}

.icon-container {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 10px;
}

#announcement-container {
    display: grid;
    background-color: white;
    padding: 1rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.announcement {
    border-bottom: solid black 1px;
}

.announcement:nth-of-type(3) {
    border-bottom: none;
}

.announcement-title {
    font-weight: 900;
    font-size: 1.1rem;
}

#trending-section {
    grid-column: 2 / 3;
}

#trending-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 1rem;

}

.username {
    font-weight: 900;
}


